# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# pycharm
.idea/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# mypy
.mypy_cache/

# Operating System Files
.DS_Store

# Custom ignores for your project
config/config.yaml   # Ignore config file containing sensitive data
*.db
