database:
  db_filename: 'study_database.db'
  overwrite: False

ingestion_pipeline:
  use_dummy_data: True
  debug: True
  code_list:
    - 'U071'
    - 'U072'
  hes_primary_diagnosis_only: False
  hes_remove_less_than_24hr_stays: False

raw_data:
  survey_path_bc: "None"
  survey_path_rd: "None"
  blueteq_path: "None"
  sgss_path: "None"
  mbis_path: "None"
  hes_apc_path: "None"

dummy_data:
  n_patients: 10000
  start_date: '2021-01-01'
  end_date: '2022-01-01'
  code_list:
    - 'U071'
    - 'U072'
  infection_chance: 0.5
  therapeutic_chance: 0.2
  hospitalisation_chance: 0.5
  death_chance: 0.3
